<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_app"
        android:label="TeleSolver"
        android:roundIcon="@drawable/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAExTORfkCED6S7JMtHAnYKhJVJ5J9inaw" />

        <activity
            android:name=".Admin.MainActivity_2_Sites_MappChooser"
            android:exported="false" />
        <activity
            android:name=".Supervisor.EditarEquipo"
            android:exported="false" />

        <activity
            android:name=".Sistem.LoginActivityFirstTime"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sistem.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Sistem.MainActivityCambiarPrimeraContra"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_3_Chat_ChatAdmin"
            android:exported="false" />
        <activity
            android:name=".NavegacionInicial"
            android:exported="true" />
        <activity
            android:name=".Sistem.MainActivity_notificacion_user"

            android:exported="false" />

        <!-- Actividades Super Admin -->

        <activity
            android:name=".SuperAdmin.MainActivity_navigation_SuperAdmin"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.MainActivity_NavigationSearch"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.UserDetais"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.EditAdmin"
            android:exported="false" />
        <activity
            android:name=".SuperAdmin.NewAdmin"
            android:exported="false" />

        <!-- Actividades Admin -->
        <activity
            android:name=".Admin.items.ListAdapterAddSuper"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_2_Sites_AddSupervisor"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_2_Sites_NewSite"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_2_Sites_SiteDetails"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_0_NavigationSearch"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_1_Users_UserDetais"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_1_Users_EditUser"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_1_Users_NewUser"
            android:exported="false" />
        <activity
            android:name=".Admin.MainActivity_0_NavigationAdmin"
            android:exported="false" />
      <activity
            android:name=".Admin.MainActivity_2_Sites_AddSite"
            android:exported="false" /> 

        <!-- Actividades Supervisor -->
        <activity
            android:name=".Supervisor.CrearReporte"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Supervisor.MasDetallesReportes"
            android:exported="false" />
        <activity
            android:name=".Supervisor.ImagenesSitio"
            android:exported="false" />
        <activity
            android:name=".Supervisor.MasDetallesSitioSupervisor"
            android:exported="false" />
        <activity
            android:name=".Supervisor.NavegacionSupervisor"
            android:exported="true" />
        <activity
            android:name=".Supervisor.CrearEquipo"
            android:exported="false" />
        <activity
            android:name=".Supervisor.CrearEquipo_2"
            android:exported="false" />
        <activity
            android:name=".Supervisor.MasDetallesEquipos"
            android:exported="false" />
        <activity
            android:name=".Supervisor.MasDetallesEquipos_2"
            android:exported="false" />
    </application>

</manifest>